.dashboard-page {
  min-height: 100vh;
  background: var(--color-page-bg);
  position: relative;

  .center {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 12px;
  }

  .setting-form {
    margin-top: 27px;
  }

  .setting-form-item {
    border-radius: 16px;
    background: var(--fill-1-light-disabled, #F8F9F8);
    display: flex;
    flex-flow: row nowrap;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    margin-bottom: 12px;

    .label {
      color: var(--color-text-main);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
    }

    .value {
      display: flex;
      color: var(--color-text-main);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      align-items: center;

      svg {
        margin-left: 8px;
      }
    }
  }
}

.dashboard-dialog {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: calc(100vh - 48px);
  overflow: hidden;
  background: var(--color-card-bg);
  padding: 0 0 12px 0;
  box-sizing: border-box;

  .center {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
  }

  .dashboard-dialog-head {
    padding-bottom: 16px;
  }

  .action-bar {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    background: var(--color-page-bg);
    z-index: 99;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    button {
      width: 350px;
    }
  }

  .dialog-inner {
    padding: 20px 8px;
    flex: 1;
    overflow: auto;
    box-sizing: border-box;

    .dialog-des {
      margin-bottom: 24px;
    }

    .event-site-item {
      margin-bottom: 40px;
    }

    .event-site-item-title {
      margin-top: 12px;
      color: var(--color-text-main);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 157.143% */
    }
  }

  .add-event-site-btn {
    display: flex;
    align-items: center;
    color: var(--color-text-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */

    svg {
      margin-right: 4px;
    }
  }

  .input-area {
    margin-bottom: 20px;

    .issues-des {
      font-size: 12px;
      color: var(--color-text-main);
      margin-bottom: 15px;
      padding-left: 10px;
    }

    .input-area-des {
      color: #999;
      font-size: 12px;
      margin-top: 12px;
    }

    .input-area-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: var(--color-text-main);
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}

