.profile-page {
  background: var(--color-page-bg);
  min-height: 100%;
  position: relative;

  .profile-user-name {
    display: none;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    color: #272928;
    margin-bottom: 32px;
  }

  .center {
    max-width: var(--width-page-max);
    margin: 0 auto;
    padding: 0 12px;
  }

  .up-side {
    background: var(--color-page-bg-1);
    padding-bottom: 20px;
  }

  .down-side {
    padding-top: 12px;
  }

  .slot_1 {
    margin-top: 72px;

    @media (min-width: 450px) {
      margin-top: 124px;
    }
  }

  .slot_2 {
    margin-top: 20px;
  }

  .icon-sendfasong {
    margin-right: 12px;
    font-size: 16px;
  }

  .profile-setting {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    color: var(--color-text-main);

    .profile-setting-btn {
      margin-left: 10px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-text-main);
    }
  }

  >div[data-baseweb="tabs"] {
    >div[role="tablist"] {
      display: block;
      white-space: nowrap;
      overflow: auto;
      padding-left: 12px;
      background: none;

      &::-webkit-scrollbar {
        display: none;
      }

      > div[role="tab"] {
        padding: 8px 16px;
        border: 0;
        border-radius: 8px;
        display: inline-flex;
        margin: 0 6px 0 0;

        &[aria-selected="true"] {
          background: #272928;
          border-bottom: 2px solid #272928;
          color: #fff;
        }
      }
    }

    >div[role="tabpanel"] {
      padding: 16px 12px;

      div[role="tablist"] {
        padding: 0!important;
      }
    }
  }
}

@media (min-width: 450px) {
  .profile-page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 90px;
    max-width: 942px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-page-bg);

    .profile-user-name {
      display: block;
    }

    .up-side {
      min-width: 375px;
      max-width: 375px;
      margin-right: 32px;
      position: relative;
      background: rgba(236, 238, 250, 0.2);
    }

    .top-side {
      margin-top: -50px;
    }

    .down-side {
      flex: 1;
      min-width: 0;
      padding-top: 0;
    }
  }
}
