.checkin-user-list {
  display: flex;
  flex-flow: column nowrap;

  .user-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    border-bottom: 1px solid var(--color-box-border);

    .left {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: var(--color-text-main);


      img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 8px;
      }
    }

    .checkin-by-host {
      display: flex;
      padding: 6px 8px;
      min-width: 78px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 28px;
      background: var(--fill-2-medium, #F5F8F6);
      cursor: pointer;
    }

    .unjoin {
      display: inline-flex;
      padding: 5px 11px 5px 12px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      color: var(--color-text-main);
      border: 0.5px solid var(--line-2-dark, #CECED3);
    }

    &.uncheck {
      .left {
        color: var(--text-1-disabled, #C3C7C3);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }
}
