.platform-login-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  gap: 8px;
  width: 80%;
}


.text {
  font-size: 18px;
}

.login-btn {
  margin-top: 30px;
  width: 100px;
}

.error-msg {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.success-msg {
  color: #71c471;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.action {
  width: 200px;
}
